
@{ 
    ViewBag.Title = "About";
    Layout = "_Layout";
}



<!--start about section-->

<section id="about">
    <div class="container">
        <h1>ABOUT US</h1>
    </div>
</section>

<section id="text">
    <div class="container">
        <p>
            Magic Home company has been focused since the 2017 acquisition on converting the well-known 19-year-old legacy website to a modern, cloud hosted, and mobile-first website that will perform like a lightening quick world class portal. This July 2018 release
            of the NEW HomeFinder.com is simultaneously focused on simplifying home search for the consumer. While other real estate portals have become more complicated and busy, we have laser focused on the consumer experience giving the perspective
            home buyer a friendly, simple user experience while accessing the critical information it needs to make a sound home buying decision. We at The HomeFinder Group welcome you to the NEW HomeFinder.com and hope you enjoy your experience!
            We recognise that the ongoing support of an engaged community is integral to the future of B2B media, meaning that we’re focused on delivering an audience inspired approach to knowledge generation and intelligence provision. Through the
            Building family of products and services, our community reach now extends across digital, print and live platforms, and as a result we’re more than just a media provider; we’re an influential hub for world-class thought leadership and
            innovation.
        </p>
        <hr />
        <p>
            Magic Home company has been focused since the 2017 acquisition on converting the well-known 28-year-old legacy website to a modern, cloud hosted, and mobile-first website that will perform like a lightening quick world class portal. This July 2019 release
            of the NEW HomeFinder.com is simultaneously focused on simplifying home search for the consumer. While other real estate portals have become more complicated and busy, we have laser focused on the consumer experience giving the perspective
           
        </p>
    </div>
</section>
<!--The end about section-->