body {
    background-image: url(../images/new4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.change {
    font-weight: 800;
    color: black;
}